@import "../../styles/common.scss";

section {
    position: relative;
    z-index: 100;
    
    .section-header {
      width: 100%;
      padding: 23px 0px 20px;
      .section-header-title {
        .section-title {
          color: rgb(51, 51, 51);
           font-size: 28px;
          letter-spacing: -0.26px;
          font-weight: 500;
        }
      }
    }
    .section-inner{
      align-items: center;
      width: 1050px;
      margin: 0 auto;
      padding: 18px 0px 16px;
      .products_bar{
        display: flex;
        justify-content: space-between;
        .total_count{ 
          span{
          color: $dark-gray;
          font-size: 12px;
          font-weight: 500;
          }
        }
        .products_button_total{
          .total_button{
            .button_list{
              li{
                  align-items: center;
                  margin-left: 8px;
                  font-size: 12px;
                  a{
                      color: $light-gray;
                      cursor: pointer;
                  }
              }
              .bar_before::before{
                  content: "|";
                  height: 10px;
                  margin-right: 8px;
                  color: $light-gray;
              }
            }
          }
        }
      }
    }
}
  