@import "./common";

.text-purple {
  color: $main-purple;
}

.arrow {
  width: 30px;
  height: 30px;
  background-image: url(https://res.kurly.com/pc/service/cart/2007/ico_dropup.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 50% 50%;
  border: none;
  outline: none;

  &.upside-down {
    transform: rotate(180deg);
  }
}

.bottom-bar {
  border-bottom: 1px solid #f4f4f4;
}
