@import "../../styles/common";

.product-card {
  width: 249px;

  .product-thumbnail {
    position: relative;
    height: 320px;

    .product-thumbnail--coupon {
      position: absolute;
      top: 0;
      left: 0;

      height: 32px;
      padding: 0 8px;
      background-color: rgb(189, 118, 255);
      opacity: 0.9;
      font-weight: 500;
      font-size: 14px;
      color: white;
      line-height: 32px;
    }

    .product-thumbnail--image-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;

      .product-thumbnail--image {
        &:hover {
          transform: scale(1.02);
        }
        transition: all 0.3s ease-in-out 0s;
      }
    }
  }

  .product-thumbnail--cart {
    position: absolute;
    bottom: 16px;
    right: 16px;
  }
}

.product-description {
  padding: 14px 10px 0 0;

  .product-name {
    font-size: 16px;
    line-height: 1.45;
    color: $dark-gray;
    font-weight: 400;
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    letter-spacing: normal;
    word-break: break-all;
    overflow-wrap: break-word;
  }

  .product-price {

    .product-price--price {
      color: black;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.5;
      white-space: nowrap;
    }

    .product-price--discount {
      color: $point-orange;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.5;
      white-space: nowrap;
      margin-right: 7px;
    }

    .product-price--price-before-discount {
      display: block;
      color: $light-gray;
      font-size: 14px;
      font-weight: 400;
      line-height: normal;
      text-decoration: line-through;
      margin-top: 2px;
    }
  }
}
