@import "../../../styles/common";

.cart-product-type {
  width: 742px;
  border-top: 1px solid $dark-gray;

.cart-product-type--header {
    height: 60px;
    padding: 14px 5px 15px 0;

  .cart-product-type--type-place {
    display: inline-flex;
    align-items: center;
    width: 300px;
    float: left;

    img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }

    .cart-product-type--header-type {
      font-size: 18px;
      font-weight: 500;
      color: $dark-gray;
    }
  }

    .cart-product-type--header-content-xor {
      display: block;
      overflow: hidden;
      float: right;
      width: 30px;
      height: 30px;
      border: 0;
    }
  }

  .cart-product-type--content {
    &.none {
      display: none;
    }
  }
}
