@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body, input, select, textarea, button {
  line-height: 1;
  letter-spacing: -.05em;
  color: #4c4c4c;
  font-size: 12px;
  max-width: 100%;
}

body {
  background-color: gray;
  margin: 0;
  font-family: 'Noto Sans KR', 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana',
  sans-serif;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  cursor: pointer;
  text-decoration: none;
}
